html, body {
  width:360px; /* Sets width of popup */
  background-color:#ffffff;
  font-family:sans-serif;
  font-size:12pt;
  margin:0;
  padding:0;
}

.column-container {
  display:flex;
  flex-direction:column;
  align-content:center;
  padding:0.75em;
}

.row-container {
  display:flex;
  flex-direction:row;
  justify-content:center;
  padding:0.5em;
}

.title {
  text-align:center;
  color:#0ba6aa;
}

.running {
  color:#0ba6aa;
}

.not-running {
  color:orange;
}

#status-text {
  font-size:1.25em;
  text-align:center;
}

#status {
  font-weight:bold;
  margin-left:0.3em;
}

#toggle-button-container button {
  margin:1em;
  background-color:#0ba6aa;
  border:1px solid #0a8488;
  box-shadow:3px 3px 3px #cdcdcd;
  text-align:center;
  width:50%;
  font-size:1.25em;
  font-weight:bold;
  color:white;
  padding:0.5em;
}

#toggle-button-container button:hover {
  cursor:pointer;
  background-color:#0a9599;
}

#elements-fixed {
  font-weight:bold;
  color:#0ba6aa;
}

#links {
  margin-bottom: 2px;
}

#links a {
  font-weight:bold;
  color:#0ba6aa;
  text-decoration: none;
  margin-left: 5px;
  float: right;
}
